body{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 2.4em;
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-style:normal;
}

.texto{
    width: 90%;
    background-image: url(../img/milei.png);
    border: .1em dashed rgb(129, 129, 44);
    margin: 2em;
    padding: 2em;
    color: rgb(240, 204, 160);
    text-indent: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}
header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5em;
}
img{
    width: 15%;
}
h1{
    color: rgb(246, 248, 131);
    text-align: center;
    padding-top:1em;
}
form{
    background-color: rgb(246, 248, 131);
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2.5em;
    border: .2em solid rgb(81, 165, 199);
}
form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}
#enviarButton{
    display: block;
    align-self: center;
}
label{
    color: black
}
hr{
    color: black;
}


@media (max-width:768px){
    .texto{
        width: 100%;
        margin: 0;
        background-size: cover;
        background-position: 30%;
    }
    form{
        background-color: rgb(246, 248, 131);
        width: 90%;
        padding: 1em;
        margin: .5em;
        border: 0;
    }
   
    img{
        width:20%;
    }

}
